/* Página de clientes */
.container-customerLogo {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 15px 10px;
    max-height: 250px;
    margin: 3rem auto;
    overflow: hidden;
}
@media (max-width: 767px){
    .container-customerLogo{
        height: 300px;
        width: 80vw;
    }
}
.customers{
    display: flex;
    
}
@media (max-width: 767px){
    .customers{
        display: flex;
        flex-flow: column;
    }
}
.customerLogo {
    width: 70%;
}
.customerLogo-sideral {
    margin-top: 4rem;
}
.customerInfo {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(25, 135, 84, 0.9);
    opacity: 0;
    transition: 700ms all;
    max-height: 250px;
}

.customerInfo:hover {
    opacity: 1;
}

.customerInfo h3 {
    color: white;
    transition: all 700ms;
    margin-bottom: 120px;
    margin-top: 30px;
    max-height: 250px;
}

.customerInfo:hover>h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.customerInfo p {
    color: white;
    max-height: 250px;
}